<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.idontknow">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Cakes_list"
                  android:label="Cakes"
                  android:theme = "@style/AppTheme.NoActionBar"
            ></activity>

        <activity android:name=".Muffin_list"
            android:label="Muffins"
            android:theme = "@style/AppTheme.NoActionBar"
            ></activity>

        <activity android:name=".Party_list"
            android:label="Party Time"
            android:theme = "@style/AppTheme.NoActionBar"
            ></activity>

        <activity android:name=".User"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Muffin Lady">
        </activity>
        <activity android:name=".SignUp"
            android:label="@string/sign_up"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SignIn"
            android:label="@string/sign_in"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".Initial"
            android:label="MuffinLady"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Wedding_cake"
            android:label="Items"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>

        <activity android:name=".Main_item"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Main_item"
            android:windowSoftInputMode="adjustPan" >

            >

        </activity>
        <activity android:name=".Nointernet"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="No Internet"
            ></activity>

        <activity android:name=".Delivery"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Delivery Details"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Sure"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Sure?"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity android:name=".History"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Its history honey"
            android:windowSoftInputMode="adjustPan"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

</manifest>
